html,
body {
  height: 100%; }

*, h1, h2, h3, a, p, li {
  font-family: 'Fira Sans', sans-serif; }

.header, .footer_bottom, .footer_top-menu_ul, .footer_submenu_ul, .footer_icon-menu_ul, .footer_top-menu_form, .S_hero, .S_works_title-menu, .S_works_menu-gallery, .S_works_bellow-part, .S_testimonials_item, .container, .header_search, .header_main-menu_ul, .header_main-menu_ul li, .footer_top, .S_about_worker, .owl-carousel.S_services-slider .owl-nav button.owl-prev span,
.owl-carousel.S_services-slider .owl-nav button.owl-next span, .S_features, .S_features_images, .S_features_label, .S_features_label_description, .S_works_gallery, .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev span,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header, .footer_bottom, .footer_top-menu_ul, .footer_submenu_ul, .footer_icon-menu_ul, .footer_top-menu_form, .S_hero, .S_works_title-menu, .S_works_menu-gallery, .S_works_bellow-part, .S_testimonials_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_icon__search-btn, .header_icon__main-menu-btn, .footer_top-menu_form_send-btn, .S_hero_get-started-btn, .S_works_see-works-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.header_main-menu_a, .footer_top-menu_a, .footer_submenu_a, .S_hero_text, .S_about_paragrapgh_top,
.S_about_paragrapgh_bottom, .S_about_worker_job, .S_features_paragrapgh, .S_works_bellow-text, .S_testimonials_paragrapgh {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  color: #222222; }

.S_hero_get-started-btn, .S_services_label, .S_features_label_description_name, .S_works_label, .S_works_gallery_button, .S_works_see-works-btn, .S_testimonials_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  color: #222222;
  opacity: 0.7;
  text-transform: uppercase; }

.S_about_worker_name, .S_testimonials_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  color: #222222; }

.S_about_title, .S_services_big-title, .S_features_title, .S_works_big-title, .S_testimonials_big-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222; }

.container {
  max-width: 1360px;
  height: 100%;
  background: #000;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #F4F4F4; }

.clients {
  height: 480px; }

html,
body {
  height: 100%; }

*, h1, h2, h3, a, p, li {
  font-family: 'Fira Sans', sans-serif; }

.header, .footer_bottom, .footer_top-menu_ul, .footer_submenu_ul, .footer_icon-menu_ul, .footer_top-menu_form, .S_hero, .S_works_title-menu, .S_works_menu-gallery, .S_works_bellow-part, .S_testimonials_item, .container, .header_search, .header_main-menu_ul, .header_main-menu_ul li, .footer_top, .S_about_worker, .owl-carousel.S_services-slider .owl-nav button.owl-prev span,
.owl-carousel.S_services-slider .owl-nav button.owl-next span, .S_features, .S_features_images, .S_features_label, .S_features_label_description, .S_works_gallery, .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev span,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header, .footer_bottom, .footer_top-menu_ul, .footer_submenu_ul, .footer_icon-menu_ul, .footer_top-menu_form, .S_hero, .S_works_title-menu, .S_works_menu-gallery, .S_works_bellow-part, .S_testimonials_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_icon__search-btn, .header_icon__main-menu-btn, .footer_top-menu_form_send-btn, .S_hero_get-started-btn, .S_works_see-works-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.header_main-menu_a, .footer_top-menu_a, .footer_submenu_a, .S_hero_text, .S_about_paragrapgh_top,
.S_about_paragrapgh_bottom, .S_about_worker_job, .S_features_paragrapgh, .S_works_bellow-text, .S_testimonials_paragrapgh {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  color: #222222; }

.S_hero_get-started-btn, .S_services_label, .S_features_label_description_name, .S_works_label, .S_works_gallery_button, .S_works_see-works-btn, .S_testimonials_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  color: #222222;
  opacity: 0.7;
  text-transform: uppercase; }

.S_about_worker_name, .S_testimonials_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  color: #222222; }

.S_about_title, .S_services_big-title, .S_features_title, .S_works_big-title, .S_testimonials_big-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222; }

.header {
  height: 142px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 125px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #F4F4F4; }

.header_icon {
  background: url("../images/spritesheet.png") no-repeat;
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .header_icon__logo {
    width: 75px;
    height: 24px;
    background-position: -5px -103px; }
    .header_icon__logo:hover {
      opacity: 0.4; }
  .header_icon__search-btn {
    width: 20px;
    height: 20px;
    background-position: -133px -31px; }
    .header_icon__search-btn:hover {
      opacity: 0.4; }
  .header_icon__main-menu-btn {
    width: 34px;
    height: 14px;
    background-position: -90px -118px; }
    .header_icon__main-menu-btn:hover {
      opacity: 0.4; }

.header_icon__search-btn {
  margin-left: 10px; }

.header_input-search {
  width: 0;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 0; }

.header_input-search.header_active-search {
  width: 150px;
  border: 1px solid #000;
  outline: none;
  opacity: 1;
  -webkit-text-decoration: #c4c4c4;
          text-decoration: #c4c4c4; }
  .header_input-search.header_active-search:hover, .header_input-search.header_active-search:active {
    -webkit-box-shadow: 0 0 5px 3px #c4c4c4;
            box-shadow: 0 0 5px 3px #c4c4c4; }

.header_main-menu_nav {
  position: absolute;
  top: 142px;
  width: 0;
  opacity: 0;
  border: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s; }

.header_main-menu_nav.header_main-menu_nav_active {
  opacity: 1;
  width: 120px;
  background-color: #f4F4F4;
  margin-left: -60px; }

.header_main-menu_ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 26px; }
  .header_main-menu_ul li {
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.header_main-menu_a {
  opacity: 0.4;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .header_main-menu_a:hover {
    opacity: 1;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }

@media screen and (max-width: 1199px) {
  .header {
    padding: 0 100px;
    height: 110px; } }
@media screen and (max-width: 991px) {
  .header {
    padding: 0 75px;
    height: 85px; } }
@media screen and (max-width: 767px) {
  .header {
    padding: 0 30px;
    height: 50px; } }
@media screen and (max-width: 500px) {
  .header {
    padding: 0 10px;
    height: 20px; } }
.footer {
  height: 240px;
  background: #515151;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 125px; }

.footer_top {
  height: 140px; }

.footer_logo {
  width: 75px;
  height: 24px;
  padding-top: 70px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .footer_logo-icon {
    background: url("../images/spritesheet.png") -5px -69px no-repeat;
    display: block;
    width: 75px;
    height: 24px; }
  .footer_logo:hover {
    opacity: 0.4;
    border-bottom: #ffffff 2px; }

.footer_top-menu {
  width: 540px;
  margin-left: 114px;
  padding-top: 65.5px;
  vertical-align: top; }

.footer_bottom {
  height: 100px; }

hr {
  background-color: white;
  opacity: 0.4;
  border-width: 0.5px;
  margin: 0; }

.footer_submenu {
  margin-top: 35px;
  width: 356px; }

.footer_top-menu_a, .footer_submenu_a {
  color: white;
  text-decoration: none; }

.footer_top-menu_a {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .footer_top-menu_a:hover {
    opacity: 0.4;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }

.footer_submenu_a {
  opacity: 0.4; }
  .footer_submenu_a:hover {
    opacity: 1;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.footer_icon-menu_ul {
  width: 108px;
  height: 16px;
  margin-top: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.footer_icon {
  opacity: 0.4;
  background: url("../images/spritesheet.png") no-repeat;
  display: block;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }
  .footer_icon:hover {
    opacity: 1; }
  .footer_icon__twitter {
    width: 16px;
    height: 14px;
    background-position: -133px -61px; }
  .footer_icon__linkedin {
    width: 16px;
    height: 16px;
    background-position: -133px -5px; }
  .footer_icon__google {
    width: 14px;
    height: 14px;
    background-position: -111px -94px; }
  .footer_icon__facebook {
    width: 8px;
    height: 15px;
    background-position: -111px -69px; }

.footer_top-menu_form {
  height: 40px;
  margin-top: 59px;
  margin-left: auto; }

.footer_top-menu_form_your_email {
  width: 170px;
  height: 40px;
  background-color: #F5F4FF;
  border: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 15px;
  font-size: 18px;
  line-height: 28px; }

.footer_top-menu_form_your_email:focus {
  outline: none; }

.footer_top-menu_form_send-btn {
  height: 40px;
  width: 100px;
  background-color: #C6B393;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 4px; }

.footer_top-menu_form_send-btn:hover {
  background-color: #9a8772; }

.footer_top-menu_form_your_email::-webkit-input-placeholder {
  /* Edge */
  color: rgba(34, 34, 34, 0.5); }

.footer_top-menu_form_your_email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(34, 34, 34, 0.5); }

.footer_top-menu_form_your_email::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5); }

.footer_top-menu_form_your_email::placeholder {
  color: rgba(34, 34, 34, 0.5); }

.S_hero {
  height: 840px;
  background: #F4F4F4;
  padding-left: 125px; }

.S_hero_left-side {
  width: 100%; }

.S_hero_title {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -1px;
  color: #151515;
  padding-top: 67px; }

.S_hero_text {
  width: 474px;
  margin-top: 30px; }

.S_hero_get-started-btn {
  height: 50px;
  width: 189px;
  opacity: 1;
  background-color: #4737FF;
  padding: 0;
  margin-top: 56px;
  color: #ffffff; }
  .S_hero_get-started-btn:hover {
    background-color: #0f00b7; }

.S_hero_scroll {
  width: 346px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 189px;
  font-size: 18px;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.S_hero_scroll__left {
  height: 2px;
  width: 139px;
  background-color: #C6B393;
  margin-left: 10px; }

.S_hero_scroll__rigjt {
  height: 2px;
  width: 139px;
  background-color: #D7D4D4; }

.S_hero_scroll__text__left {
  margin-left: auto;
  width: 23px; }

.S_hero_scroll__text__right {
  width: 21px; }

.S_hero-img {
  width: 100%;
  max-width: 50%;
  height: 840px;
  background: url("../images/Hero.png") center no-repeat;
  margin-left: auto;
  background-size: cover; }

.S_hero-video {
  position: absolute;
  margin-top: 364px;
  margin-left: 445px;
  width: 400px;
  height: 310px;
  background-image: url("../images/hero-video.png");
  -webkit-box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
          box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44); }

@media screen and (max-width: 1199px) {
  .S_hero {
    padding-left: 110px; } }
@media screen and (max-width: 991px) {
  .S_hero {
    padding-left: 85px; }

  .S_hero-img {
    width: 0; }

  .S_hero_title {
    font-size: 50px;
    line-height: 50px;
    padding-top: 47px; } }
@media screen and (max-width: 767px) {
  .S_hero {
    padding-left: 50px; } }
@media screen and (max-width: 500px) {
  .S_hero {
    padding-left: 20px; } }
.S_about {
  height: 564px;
  padding: 137px 125px 0 125px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F4F4; }

.S_about_img {
  width: 475px;
  height: 564px;
  background-image: url("../images/About.png"); }

.S_about_right-side {
  margin-left: auto; }

.S_about_title {
  width: 540px;
  margin-top: 37px; }

.S_about_paragrapgh_top,
.S_about_paragrapgh_bottom {
  width: 445px;
  margin-right: 95px; }

.S_about_paragrapgh_top {
  margin-top: 30px; }

.S_about_paragrapgh_bottom {
  margin-top: 20px; }

.S_about_worker {
  margin-top: 61px;
  height: 65px;
  width: 285px;
  margin-right: 255px; }

.S_about_worker_ava {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden; }

.S_about_worker_ava .ava {
  width: 100%; }

.S_about_worker_description {
  margin-left: 31px; }

.S_about_worker_job {
  margin-top: 6px; }

.S_services {
  height: 1104px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 142px 125px 0 125px;
  background-color: white;
  background: #F4F4F4; }

.S_services_big-title {
  width: 539px;
  height: 199px;
  margin-top: 40px; }

.S_services_services-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.S_services_ul-left {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  width: 189px;
  height: 175px;
  margin-top: 50px;
  margin-left: 162px; }

.S_services_ul-right {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  width: 160px;
  height: 126px;
  margin-top: 50px;
  margin-left: 62px; }

.S_services_first-li {
  margin-top: 0;
  height: 28px; }

.S_services_li {
  margin-top: 21px;
  height: 28px; }

.S_services_slider {
  margin-right: -124px;
  overflow: hidden;
  margin-top: 99px; }

.S_services_item {
  width: 825px;
  height: 500px; }

.owl-carousel.S_services-slider .owl-nav {
  margin-top: 50px; }

.owl-carousel.S_services-slider .owl-nav button.owl-prev,
.owl-carousel.S_services-slider .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 25px;
  background-color: #c4c4c4;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .owl-carousel.S_services-slider .owl-nav button.owl-prev:hover,
  .owl-carousel.S_services-slider .owl-nav button.owl-next:hover {
    background-color: #919191; }

.arrows {
  width: 11px;
  height: 18px;
  background: url("../images/spritesheet.png") -90px -69px no-repeat;
  display: block;
  margin: 0 auto; }

.owl-carousel.S_services-slider .owl-nav button.owl-prev span,
.owl-carousel.S_services-slider .owl-nav button.owl-next span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.owl-carousel.S_services-slider .owl-nav button.owl-prev span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.owl-carousel.S_services-slider .owl-stage-outer {
  overflow: visible; }

.owl-carousel.owl-drag .owl-item.active {
  width: 100%; }

.owl-carousel.S_services-slider .owl-item.active + .owl-item.active {
  opacity: .4; }

.S_features {
  height: 552px;
  margin-top: 181px;
  padding-right: 125px;
  background: #F4F4F4; }

.S_features_images {
  width: 760px;
  height: 552px; }

.S_features_right-side {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 475px;
  height: 754px;
  margin-left: auto; }

.S_features-img_back {
  height: 417px;
  width: 570px;
  background-image: url("../images/feature-back.png"); }

.S_features-img_front {
  position: absolute;
  margin-top: 99px;
  margin-left: 315px;
  height: 453px;
  width: 350px;
  background-image: url("../images/Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25); }

.S_features_title {
  height: 115px; }

.S_features_paragrapgh {
  height: 105px;
  margin-top: 13px; }

.S_features_labeles {
  margin-top: 62px;
  height: 138px;
  width: 273px; }

.S_features_label {
  height: 54px;
  margin-bottom: 30px; }

.S_features_label_img {
  width: 54px;
  height: 54px;
  background: url("../images/spritesheet.png") no-repeat;
  display: block; }
  .S_features_label_img__top {
    background-position: -5px -5px; }
  .S_features_label_img__bottom {
    background-position: -69px -5px; }

.S_features_label_description {
  margin-left: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.S_features_label_description_name {
  color: #000000;
  opacity: 1; }

.S_works {
  margin-top: 202px;
  padding: 0 125px; }

.S_works_label {
  width: 160px; }

.S_works_title-menu {
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px; }

.S_works_big-title {
  width: 539px; }

.S_works_menu-gallery {
  width: 470px; }

.S_works_gallery_button {
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer; }
  .S_works_gallery_button:hover, .S_works_gallery_button :active {
    opacity: 1;
    color: #1434E1; }

.S_works_gallery {
  width: 1140px;
  margin-top: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.S_works_gallery-item {
  width: 350px;
  height: 450px;
  margin-top: 30px;
  margin-right: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }
  .S_works_gallery-item:hover {
    -webkit-box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
            box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
    -webkit-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }

.S_works_bellow-part {
  margin-top: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.S_works_bellow-text {
  height: 58px;
  width: 730px;
  vertical-align: top; }

.S_works_see-works-btn {
  width: 222px;
  height: 50px;
  opacity: 1;
  background-color: #4737FF;
  color: #ffffff; }
  .S_works_see-works-btn:hover {
    background-color: #0f00b7; }

.S_testimonials {
  height: 1256px;
  padding: 0 125px;
  margin-top: 248px; }

.S_testimonials_label {
  position: absolute; }

.S_testimonials_item {
  height: 620px; }

.S_testimonials_item_left-part {
  width: 540px; }

.S_testimonials_big-title {
  height: 204px;
  margin-top: 93px; }

.S_testimonials_title {
  height: 32px;
  margin-top: 121px; }

.S_testimonials_paragrapgh {
  height: 25px;
  margin-top: 13px; }

.S_testimonials_item_right {
  height: 620px;
  width: 445px; }

.owl-carousel.S_testimonials-slider .owl-nav {
  position: absolute;
  margin-top: -50px; }

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 25px;
  background-color: #c4c4c4;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev:hover,
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-next:hover {
    background-color: #919191; }

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev span,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.owl-carousel.S_testimonials-slider .owl-stage-outer {
  overflow: hidden; }

/*# sourceMappingURL=styles.css.map */