html,
body {
  height: 100%;
}

*, h1, h2, h3, a, p, li, ul {
  font-family: 'Fira Sans', sans-serif;
}

%d-flex {
  display: flex;
}

%space-between {
  @extend %d-flex;
  justify-content: space-between;
}

%button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  padding: 0;
  transition: 0.2s ease-in-out;
}

%paragrapgh-text {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  color: #222222;
}

%label-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  color: #222222;
  opacity: 0.7;
  text-transform: uppercase;
}

%title {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  color: #222222;
}

%big-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
}

@media screen and (max-width: 1199px) {
  %big-title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 991px) {
  %paragrapgh-text {
    font-size: 16px;
    line-height: 26px;
  }
  %label-text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 3.5px;
  }
  %title {
    font-size: 19px;
    line-height: 29px;
  }
  %big-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  %paragrapgh-text {
    font-size: 15px;
    line-height: 25px;
  }
  %label-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 3px;
  }
  %title {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  %big-title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 500px) {
  %paragrapgh-text {
    font-size: 13px;
    line-height: 23px;
  }
  %label-text {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 2.5px;
  }
  %title {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  %big-title {
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
  }
}
