.footer {
  height: 240px;
  background: #515151;
  flex: 0 0 auto;
  padding: 0 125px;
}

.footer_top {
  height: 140px;
  @extend %d-flex;
  justify-content: space-between;
}

.footer_logo {
  width: 75px;
  height: 24px;
  padding-top: 70px;
  transition: 0.2s ease-in-out;

  &-icon {
    background: url("../images/spritesheet.png") -5px -69px no-repeat;
    display: block;
    width: 75px;
    height: 24px;

  }

  &:hover {
    opacity: 0.4;
    border-bottom: #ffffff 2px;
  }
}

.footer_top-menu {
  //height: 28px;
  width: 540px;
  margin-left: 114px;
  padding-top: 67px;
  vertical-align: top;
}

.footer_bottom {
  height: 100px;
  @extend %space-between;
}

hr {
  background-color: white;
  opacity: 0.4;
  border-width: 0.5px;
  margin: 0;
}

.footer_submenu {
  margin-top: 35px;
  //height: 28px;
  width: 356px;
}

.footer_top-menu_ul, .footer_submenu_ul {

  @extend %space-between;
}

.footer_top-menu_a, .footer_submenu_a {
  @extend %paragrapgh-text;
  color: white;
  text-decoration: none;
}

.footer_top-menu_a {
  opacity: 1;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.4;
    text-decoration-line: underline;
  }
}


.footer_submenu_a {
  opacity: 0.4;

  &:hover {
    opacity: 1;
    text-decoration-line: underline;
    transition: 0.2s ease-in-out;
  }
}


.footer_icon-menu_ul {
  width: 108px;
  height: 16px;
  @extend %space-between;
  margin-top: 40px;
  align-items: flex-end;
}

.footer_icon {
  opacity: 0.4;
  background: url("../images/spritesheet.png") no-repeat;
  display: block;
  transition: .2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @each $name, $width, $height, $x, $y in (twitter, 16px, 14px, -133px, -61px),
          (linkedin, 16px, 16px, -133px, -5px),
          (google, 14px, 14px, -111px, -94px),
          (facebook, 8px, 15px, -111px, -69px) {
    &__#{$name} {
      width: $width;
      height: $height;
      background-position: $x $y;
    }
  }
}

.footer_top-menu_form {
  height: 40px;
  margin-top: 59px;
  margin-left: auto;
  @extend %space-between;
}

.footer_top-menu_form_your_email {
  width: 170px;
  height: 40px;
  background-color: #F5F4FF;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  margin-right: 15px;
  font-size: 18px;
  line-height: 28px;

}

.footer_top-menu_form_your_email:focus {
  outline: none;
}


.footer_top-menu_form_send-btn {
  height: 40px;
  width: 100px;
  background-color: #C6B393;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 4px;
  @extend %button
}

.footer_top-menu_form_send-btn:hover {
  background-color: #9a8772;
}

.footer_top-menu_form_your_email::-webkit-input-placeholder {
  /* Edge */
  color: rgba(34, 34, 34, 0.5);
}

.footer_top-menu_form_your_email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(34, 34, 34, 0.5);
}

.footer_top-menu_form_your_email::placeholder {
  color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1300px) {
  .footer_top-menu {
    margin-left: 0;
  }
  .footer_top-menu_form {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    height: 180px;
    padding: 0 75px;
  }
  .footer_top {
    height: 100px;
  }
  .footer_logo {
    padding-top: 50px;
  }

  .footer_top-menu {
    padding-top: 47px;
    max-width: 540px;
    width: 45vw;
  }
  .footer_top-menu_form {
    margin-top: 39px;
  }
  .footer_top-menu_form_your_email {
    max-width: 170px;
    min-width: 130px;
    width: 17vw;
  }
  .footer_top-menu_form_send-btn {
    max-width: 100px;
    min-width: 70px;
    width: 9vw;
  }
  .footer_bottom {
    height: 80px;
  }
  .footer_submenu {
    margin-top: 25px;
  }
  .footer_icon-menu_ul {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 0 40px;
    height: 150px;
  }
  .footer_top {
    height: 80px;
  }
  .footer_logo {
    padding-top: 35px;
  }
  .footer_top-menu {
    padding-top: 32px;

  }
  .footer_top-menu_form {
    margin-top: 27px;
  }

  .footer_bottom {
    height: 70px;
  }
  .footer_submenu {
    margin-top: 20px;
  }
  .footer_icon-menu_ul {
    margin-top: 25px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    height: auto;
    padding: 0 35px;
  }
  .footer_top {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .footer_logo {
    padding-top: 25px;
  }
  .footer_top-menu {
    padding-top: 20px;
    width: 100%;
  }
  .footer_top-menu_form {
    margin: 22px 0 22px 0;

  }
  .footer_top-menu_form_your_email {
    padding: 0 20px;
    width: 170px;
  }
  .footer_top-menu_form_send-btn {
    width: 100px;
  }
  .footer_bottom {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .footer_submenu {
    margin-top: 15px;
    width: 100% ;
  max-width: 540px;
  }
  .footer_icon-menu_ul {
    margin: 15px 0 30px 0;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 0 20px;
  }
  .footer_top-menu_form {
    margin-left: 0;
  }
}

