@import "base";

.header {

  padding: 0 125px;
  flex: 0 0 auto;
  background: #F4F4F4;
}

.header-main {
  @extend %space-between;
  align-items: center;
  height: 142px;
}

.header_icon {
    background: url("../images/spritesheet.png") no-repeat;
    display: block;
    transition: 0.2s ease-in-out;

  @each $name, $width, $height, $x, $y in (logo, 75px, 24px, -5px, -103px),
          (search-btn, 20px, 20px, -133px, -31px),
          (main-menu-btn, 34px, 14px, -90px, -118px)
  {
    &__#{$name} {
      width: $width;
      height: $height;
      background-position: $x $y;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.header_search {
  @extend %d-flex;
}

.header_icon__search-btn {
  margin-left: 10px;
  @extend %button
}

.header_icon__main-menu-btn {
  @extend %button
}

.header_input-search {
  width: 0;
  opacity: 0;
  transition: 0.6s;
  border: 0;

}

.header_input-search.header_active-search {
  width: 150px;
  border: 1px solid #000;
  outline: none;
  opacity: 1;
  text-decoration: #c4c4c4;

  &:hover, &:active {
    box-shadow: 0 0 5px 3px rgba(196,196,196,1);
  }
}

.header_main-menu_nav {
  width: 0;
  height: 0;
  opacity: 0;
  border: 0;
  transition: 0.6s;
}

.header_main-menu_nav.header_main-menu_nav_active {
  opacity: 1;
  width: 100%;
  background-color: #f4F4F4;
 }

.header_main-menu_nav_active {
min-height: 60px;
}

.header_main-menu_ul {
  @extend %d-flex;
  justify-content: space-between;

  li {
    @extend %d-flex;
    align-items: center;
    height: 50px;
    margin-right: 25px;
    &:last-of-type {
      margin-right: 0;
    }
  }

}

.header_main-menu_a {
  @extend %paragrapgh-text;
  opacity: 0.4;
  text-decoration: none;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    text-decoration-line: underline;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 0 75px;
  }

  .header-main {
    height: 110px;
  }

  .header_main-menu_nav_active {
    min-height: 50px;
}
  .header_main-menu_ul li{
    height: 40px;
  }
 }

@media screen and (max-width: 991px) {
  .header {
    padding: 0 40px;
    }

  .header-main {
    height: 85px;
  }

  .header_main-menu_nav_active {
    min-height: 45px;
  }

  .header_main-menu_ul li {
      height: 35px;
    }
}


@media screen and (max-width: 767px) {
  .header {
    padding: 0 35px;
  }

  .header-main {
    height: 70px;
  }

  .header_main-menu_nav_active {
    min-height: 36px;
  }
  .header_main-menu_ul li {
      height: 30px;
   }
  .header_main-menu_ul {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 500px) {
  .header {
    padding: 0 20px;
  }

  .header-main {
    height: 45px;
  }

  .header_main-menu_nav_active {
    min-height: 29px;
  }

  .header_main-menu_ul li {
     height: 25px;
     }
}
