.owl-carousel.S_services-slider .owl-nav {
  margin-top: 50px;
}

.owl-carousel.S_services-slider .owl-nav button.owl-prev,
.owl-carousel.S_services-slider .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 25px;
  background-color: #c4c4c4;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: darken(#c4c4c4,20%);
  }
 }

.arrows {
  width: 11px;
  height: 18px;
  background: url("../images/spritesheet.png") -90px -69px no-repeat;
  display: block;
  margin: 0 auto;
}

.owl-carousel.S_services-slider .owl-nav button.owl-prev span,
.owl-carousel.S_services-slider .owl-nav button.owl-next span {
  @extend %d-flex;
  align-items: center;
}

.owl-carousel.S_services-slider .owl-nav button.owl-prev span{
  transform: rotate(180deg);
}

.owl-carousel.S_services-slider .owl-stage-outer {
  overflow: visible;
}

.owl-carousel.owl-drag .owl-item.active{
  width: 100%;
}

.owl-carousel.S_services-slider .owl-item.active + .owl-item.active {
  opacity: .4;
}

