.S_hero {
  height: 840px;
  @extend %space-between;
  background: #F4F4F4;
  padding-left: 125px;
}

.S_hero_left-side {
  width: 100%;
  max-width: 50%;
  padding-right: 25px;
}

.S_hero_title {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -1px;
  color: #151515;
  padding-top: 67px;

}

.S_hero_text {
  width: 474px;
  margin-top: 30px;
  @extend %paragrapgh-text;
  max-width: 100%;
}

.S_hero_get-started-btn {
  display: block;
  height: 50px;
  width: 189px;
  opacity: 1;
  background-color: #4737FF;
  padding: 0;
  margin-top: 56px;
  @extend %button, %label-text;
  color: #ffffff;
  &:hover {
    background-color: #0f00b7;
  }
}

.S_hero_scroll {
  width: 346px;
  height: 18px;
  display: flex;
  margin-top: 189px;
  font-size: 18px;
  color: #222222;
  align-items: center;
}

.S_hero_scroll__left {
  height: 2px;
  width: 139px;
  background-color: #C6B393;
  margin-left: 10px;
}

.S_hero_scroll__rigjt {
  height: 2px;
  width: 139px;
  background-color: #D7D4D4;
}

.S_hero_scroll__text__left {
  margin-left: auto;
  width: 23px;
}

.S_hero_scroll__text__right {
  width: 21px;
}

.S_hero-img {
  width: 100%;
  max-width: 50%;
  height: 840px;
  background: url("../images/Hero.png") center no-repeat;
  margin-left: auto;
  background-size: cover;
  }

.S_hero-video {
  position: absolute;
  margin-top: 364px;
  margin-left: 445px;
  width: 400px;
  height: 310px;
  background-image: url("../images/hero-video.png");
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}

@media screen and (max-width: 1199px) {
  .S_hero {
    padding-left: 75px;
  }
  .S_hero-video {
    margin-left: 30vw;
  }
  .S_hero_title {
    padding-top: 25px
  }
  .S_hero-img {
    width: 100vw;
    max-width: 840px;
  }
}

@media screen and (max-width: 991px) {
  .S_hero {
    padding-left: 50px;
  }
  .S_hero_title {
    font-size: 45px;
    line-height: 60px;
    padding-top: 15px
  }
  .S_hero_get-started-btn {
    margin-top: 45px;
  }
  .S_hero-video {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) {
  .S_hero {
    padding-left: 35px;
    height: 700px;
  }
  .S_hero_title {
    font-size: 35px;
    line-height: 40px;
    padding-top: 20px;
  }
  .S_hero_left-side {
    max-width: 100%;
  }
  .S_hero-img {
    width: 0;
  }
  .S_hero_title {
    text-align: center;
  }
  .S_hero_text {
    width: 100%;
  }
  .S_hero_get-started-btn {
    margin: 40px auto;
  }
  .S_hero-video {
    margin-left: 15%;
  }
 }

@media screen and (max-width: 600px) {
  .S_hero-video {
    margin-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .S_hero {
    padding-left: 20px;
  }
  .S_hero_title {
    font-size: 25px;
    line-height: 30px;
  }

  .S_hero_text {
    margin-top: 30px;
  }
  .S_hero_get-started-btn {
    margin: 30px auto;
  }
  .S_hero-video {
    max-width: 80%;
    margin-left: 5%;
  }
}
