.S_about {
  height: 564px;
  padding: 137px 125px 0 125px;
  background-color: white;
  display: flex;
  background: #F4F4F4;
}

.S_about_img {
  width: 475px;
  height: 564px;
  background-image: url("../images/About.png");
}

.S_about_right-side {
  margin-left: 94px;
 }

.S_about_title {
  width: 540px;
  margin-top: 37px;
  @extend %big-title;
}

.S_about_paragrapgh_top,
.S_about_paragrapgh_bottom {
  width: 445px;
  margin-right: auto;
  @extend %paragrapgh-text;
}

.S_about_paragrapgh_top {
  margin-top: 30px;
}

.S_about_paragrapgh_bottom {
  margin-top: 20px;
}

.S_about_worker {
  margin-top: 61px;
  height: 65px;
  width: 285px;
  margin-right: auto;
  @extend %d-flex;
}

.S_about_worker_ava {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}

.S_about_worker_ava .ava {
  width: 100%;
}

.S_about_worker_description {
  margin-left: 31px;
}

.S_about_worker_name {
  @extend %title;
}

.S_about_worker_job {
  margin-top: 6px;
  @extend %paragrapgh-text;
}

@media screen and (max-width: 1199px) {
  .S_about {
    padding: 110px 100px 0 100px;
  }
  .S_about_title {
    margin-top: 25px;
  }
  .S_about_right-side {
    margin-left: 70px;
  }
}

@media screen and (max-width: 991px) {
  .S_about {
    padding: 80px 75px 0 75px;
  }
  .S_about_title {
    margin-top: 15px;
  }
  .S_about_right-side {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .S_about_img {
    width: 0;
  }
  .S_about {
    padding: 55px 50px 0 50px;
    height: 425px;
  }
  .S_about_title {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .S_about_right-side {
    margin: 0 auto;
    max-width: 100%;
  }
  .S_about_paragrapgh_top, .S_about_paragrapgh_bottom
  {
    margin: 30px auto 0 auto;
    text-align: center;
  }
  .S_about_worker {
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .S_about {
    padding: 35px 25px 0 25px;
  }
}
