.S_services {
  height: 1104px;
  box-sizing: border-box;
  padding: 142px 125px 0 125px;
  background-color: white;
  background: #F4F4F4;
}

.S_services_label {
  @extend %label-text;
  //height: 20px;
}

.S_services_big-title {
  @extend %big-title;
  width: 539px;
  height: 199px;
  margin-right: 40px;
}

.S_services_services-text {
  padding-top: 40px;
}

.S_services_services-text, .S_services_list {
  @extend %space-between;
}

.S_services_list {
  width: 409px;
}

.S_services_ul {
  @extend %paragrapgh-text;
  color: #222222;
  opacity: 0.5;
  width: 150px;
  height: 175px;
}

.S_services_li {
  margin-bottom: 21px;
  height: 28px;
}

.S_services_slider {
  margin-right: -124px;
  overflow: hidden;
  margin-top: 99px;
}

.S_services_item {
  width: 825px;
  height: 500px;
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .S_services {
    padding: 110px 100px 0 100px;
  }
  .S_services_slider {
    margin-top: 85px;
  }
}

@media screen and (max-width: 991px) {
  .S_services {
    padding: 80px 75px 0 75px;
  }
  .S_services_ul {
    width: 120px;
  }
  .S_services_list {
    width: 280px;
  }
  .S_services_slider {
    margin-top: 65px;
  }
}

@media screen and (max-width: 767px) {
  .S_services {
    padding: 55px 50px 0 50px;
  }
  .S_services_list {
    width: 220px;
  }
  .S_services_slider {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .S_services {
    padding: 35px 25px 0 25px;
  }
  .S_services_list {
    width: 380px;
  }
  .S_services_ul {
    width: 150px;
  }
  .S_services_services-text {
    flex-direction: column;
  }
  .S_services_big-title {
    max-width: 100%;
    height: 149px;
  }
  .S_services_slider {
    margin-top: 30px;
  }

}
