.owl-carousel.S_testimonials-slider .owl-nav {
  position: absolute;
  margin-top: -50px;
}

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 25px;
  background-color: #c4c4c4;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: darken(#c4c4c4,20%);
  }
}

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev {
  transform: rotate(180deg);
}

.owl-carousel.S_testimonials-slider .owl-nav button.owl-prev span,
.owl-carousel.S_testimonials-slider .owl-nav button.owl-next span {
  @extend %d-flex;
  align-items: center;
}

.owl-carousel.S_testimonials-slider .owl-stage-outer {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .owl-carousel.S_testimonials-slider .owl-nav {
    margin-top: -40px;
  }

  .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev,
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .owl-carousel.S_testimonials-slider .owl-nav {
    margin-top: -35px;
  }
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev,
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 600px) {
  .owl-carousel.S_testimonials-slider .owl-nav {
    margin-top: -30px;
  }
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-prev,
  .owl-carousel.S_testimonials-slider .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
  }
}

