.S_works {
  margin-top: 202px;
  padding: 0 125px 0 125px;
}

.S_works_label {
  width: 160px;
  @extend %label-text;
}

.S_works_title-menu {
  @extend %d-flex;
  align-items: center;
  margin-top: 40px;

}

.S_works_big-title {
  @extend %big-title;
  //height: 48px;
  margin-right: auto;
}

.S_works_menu-gallery {
  @extend %space-between;
  //height: 48px;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
}

.S_works_gallery_button {
  @extend %label-text;
  opacity: 0.3;
  transition: 0.2s ease-in-out;
  &:hover,:active {
    opacity: 1;
    color: #1434E1;
  }
  cursor: pointer;
  margin-left: 25px;
}


.S_works_gallery {
  margin: 78px -30px 0 0;
  @extend %d-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.S_works_gallery-item {
  width: 350px;
  height: 450px;
  margin-top: 30px;
  margin-right: 30px;
  transition: 0.5s ease;
  &:hover {
    box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
    -moz-transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
}

.S_works_bellow-part {
  @extend %space-between;
  margin-top: 52px;
  align-items: center;
}

.S_works_bellow-text {
  @extend %paragrapgh-text;
  width: 730px;
  vertical-align: top;

}

.S_works_see-works-btn {
  @extend %button, %label-text;
  width: 222px;
  height: 50px;
  opacity: 1;
  background-color: #4737FF;
  color: #ffffff;
  &:hover {
    background-color: #0f00b7;
  }

  margin-left: 30px;
}

@media screen and (max-width: 1199px) {
  .S_works {
    margin-top: 110px;
    padding: 0 75px 0 75px;
  }
  .S_works_title-menu {
    margin-top: 40px;
  }
  .S_works_gallery {
    margin-top: 40px;
  }
  .S_works_gallery-item {
    margin: 25px 25px 0 0;
  }
  .S_works_bellow-part {
    margin-top: 45px;
  }

}

@media screen and (max-width: 991px) {
  .S_works {
    margin-top: 90px;
    padding: 0 40px 0 40px;
  }
  .S_works_title-menu {
    margin-top: 35px;
  }
  .S_works_gallery_button {
    margin-left: 20px;
  }
  .S_works_gallery {
    margin-top: 35px;
  }
  .S_works_gallery-item {
    margin: 20px 20px 0 0;
  }
  .S_works_bellow-part {
    margin-top: 40px;
  }

}

@media screen and (max-width: 870px) {
  .S_works {
    margin-top: 65px;
    padding: 0 35px;
  }
  .S_works_title-menu {
    margin-top: 30px;
  }
 }


@media screen and (max-width: 767px) {
  .S_works {
    margin-top: 50px;
    padding: 0 35px 0 35px;
  }
  .S_works_title-menu {
    margin-top: 25px;
  }

  .S_works_gallery_button {
    margin-left: 15px;
  }
  .S_works_gallery {
    margin-top: 30px;
  }

  .S_works_bellow-part {
    margin-top: 35px;
    flex-direction: column;
  }
  .S_works_bellow-text {
    width: 100%;
    text-align: center;
  }
  .S_works_see-works-btn {
    margin: 35px 0;
  }

}

@media screen and (max-width: 700px) {
  .S_works_title-menu {
    flex-direction: column;
  }
  .S_works_big-title {
    width: 100%;
    text-align: center;
  }
  .S_works_menu-gallery {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .S_works {
    margin-top: 35px;
    padding: 0 20px;
  }
  .S_works_title-menu {
    margin-top: 20px;
  }

  .S_works_menu-gallery {
    width: 100%;

  }
  .S_works_see-works-btn {
    height: 45px;
    width: 180px;
  }

}